html {
  font-size: 62.5%;
  background: #EFB57B;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.cvh {
  display: flex;
  justify-content: center;
  align-items: center;
}
